<div class ="bg-slate-50 w-full min-h-screen">
<form class ="flex flex-col items-center">
  <label class ="font-bold text-lg mt-2 ">
    Username
  </label>

<input type=
  "text"
  class="bg-slate-200 text-black font-bold p-1 mt-2     "/>


  <label class ="font-bold text-lg mt-2"> Password</label>
  <input type ="password"
  class= "p-1 mt-2 font-bold text-black bg-slate-200">
  <button type="submit"
  class="mt-6 rounded-md hover:bg-blue-700 bg-red-700 text-white p-1 font-bold text-xl">

    Submit
  </button>

  <h4 class = "mt-5 font-extrabold">This Shelftag Web App is for testing purposes only so the Username and Password is admin</h4>







</form>

</div>
